<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contato</title>
</head>

<body style="background-image: url(../static/fundo2.png);">
    <div style="margin-left: 25%; margin-right: 27.7%;">
        <img style="margin-top: 1%;" src="../static/logo.png" alt="Logo Universidade UNES">
        <a style=" margin-left: 43.5%;" href="Home.html"> Home </a> <span>|</span>
        <a href="Quem Somos.html"> Quem Somos </a> <span>|</span>
        <a href="Contato.html"> Contato</a>
    </div>
    <div style="margin-left: 25%; margin-right: 27.7%; margin-top: 1.35%;">
        <h1>Entre em contato</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque hic, pariatur magni eius incidunt facere
        accusantium fugiat minus accusamus aliquam eligendi voluptatem totam a officia vero voluptate atque. Beatae,
        odit!
        <hr>
    </div>
    <div style="margin-left: 25%; margin-right: 27.7%; margin-top: 1.35%;">
        <form action="Contato.html" method="post" >
            <div>
                <span> Seu email: </span>
                <input type="email" name="email"> 
            </div>
            <div>
                <span> Assunto: </span>
                <input type="text" name="assunto"> 
            </div>
            <div>
                <span> Descrição: </span>
                <input type="text" name="descricao">
            </div>
            <button type="submit">Enviar</button> 

        </form>
    </div>
    <div>
        <h3 style="text-align: center;">
            Todos os direitos reservados
        </h3>
    </div>

</body>

</html>