<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES UNIVERSIDADE</title>
</head>

<body style="background-image: url(../static/fundo.png)">
    <div style="margin-left: 25%; margin-right: 27.7%;">
        <img style="margin-top: 1%;" src="../static/logo.png" alt="Logo Universidade UNES">
        <a style=" margin-left: 43.5%;" href="Home.html"> Home </a> <span>|</span>
        <a href="Quem Somos.html"> Quem Somos </a> <span>|</span>
        <a href="Contato.html"> Contato</a>
    </div>
    <div style="margin-left: 25%; margin-right: 27.7%; margin-top: 1.35%;">
        <img src="../static/capa.png" alt="Capa">
    </div>
    <div style="margin-left: 25%; margin-right: 27.7%;">
        <h1>
            Sobre a Universidade
        </h1>
        Lorem <strong>ipsum dolor</strong> sit <i>amet</i> consectetur adipisicing elit. Consequatur tempora praesentium
        eveniet provident hic voluptatem est aliquam dicta, minima nam quidem perferendis ut dolorum temporibus
        perspiciatis. Cum dicta delectus ad?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam recusandae aperiam mollitia, aspernatur id iusto
        voluptatibus? Aspernatur corporis vitae itaque, mollitia numquam perferendis fuga consectetur quaerat
        blanditiis, a accusantium tenetur!
        <p> Lorem <strong>ipsum dolor</strong> sit <i>amet</i> consectetur adipisicing elit. Consequatur tempora
            praesentium eveniet provident hic voluptatem est aliquam dicta, minima nam quidem perferendis ut dolorum
            temporibus perspiciatis. Cum dicta delectus ad? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Earum exercitationem optio voluptates, consequuntur sit dolore magni labore atque repudiandae libero.
            Obcaecati, sunt. Officia optio quis natus rerum at illo aliquid?
        </p>
    </div>
    <div>
        <h3 style="text-align: center;">
            Todos os direitos reservados
        </h3>
    </div>
</body>

</html>